<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <form method="POST" action="/post">
        <input placeholder="Enter username" name="username" class="username" type="text">
        <br><br>
        <textarea placeholder="Write you post content here :)" name="content" class="content"></textarea>
        <br><br>
        <button>Sumbit Post</button>
    </form>
</body>
</html>